<div class="container mt-3">
  <div *ngIf="success" class="mt-2 alert alert-success">
    {{success}}
  </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles">
            <td>{{ article.name }}</td>
            <td>{{ article.price | currency }}</td>
            <td> <button class="btn btn-sm btn-danger" (click)="deleteArticleFromOrder(article)">delete</button> </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="articles.length == 0" class=" alert alert-warning text-center">
        No article has been added yet
      </div>
</div>