<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">REF</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.reference }}</td>
            <td>{{ order.date | date: 'EEEE dd MMMM yyyy HH:mm:ss' }}</td>
            <td>
               <button (click)="editOrder(order.id)" class="btn btn-sm btn-warning">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
